.detailsContainer {
  color: yellow;
  background-image: url("../../Assets/coin34.bg.jpg");
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #000826c4;
}

.indiImg {
  width: 120px;
  height: 120px;
}

.detailTitle {
  background-color: #000826f3;
  padding: 7px 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.info:nth-child(even) {
  background-color: #000826f3;
}

.info:nth-child(odd) {
  background-color: #061138ef;
}

.infoLink {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: #061138ef;
  padding: 20px 30px;
}

.infoLink:nth-child(even) {
  background-color: #000826f3;
}

.coin-info {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .indiImg {
    width: 100px;
    height: 100px;
  }

  .info,
  .infoLink {
    padding: 15px;
    font-size: 13px;
  }

  .detailTitle {
    padding: 5px 15px;
    font-size: 20px;
  }

  .imageContainer {
    padding: 30px;
  }
}
