.detailsContainer {
  color: yellow;
  background-color: #190738;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.indiImg {
  width: 120px;
  height: 120px;
}

.detailTitle {
  background-color: #170630;
  padding: 7px 20px;
}

.info {
  border-bottom: 1px solid #170630;
  padding: 20px;
}

.info:nth-child(even) {
  background-color: #170630;
}

.infoLink {
  list-style: none;
  background-color: #190738;
  padding: 20px;
}

.infoLink:nth-child(even) {
  background-color: #170630;
}

.coin-info {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .indiImg {
    width: 100px;
    height: 100px;
  }

  .info,
  .infoLink {
    padding: 10px;
    font-size: 13px;
  }

  .detailTitle {
    padding: 5px 10px;
    font-size: 20px;
  }

  .imageContainer {
    padding: 30px;
  }
}
