.searchContainer {
  align-items: center;
  text-align: center;
  margin: 20px;
}

input {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 50%;
  padding: 12px;
  background-color: #11062598;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .searchContainer {
    margin: 10px;
  }

  input {
    width: 90%;
    padding: 10px;
  }
}
